Peeyushdevops/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "defaultValue": "PayAggreggration",
      "type": "String"
    },
    "integrationAccounts_Peeyush_externalid": {
      "defaultValue": "/subscriptions/43e592b2-05f6-4577-8826-391e3a0cdaac/resourceGroups/peeyush/providers/Microsoft.Logic/integrationAccounts/Peeyush",
      "type": "String"
    },
    "connections_servicebus_externalid": {
      "defaultValue": "/subscriptions/43e592b2-05f6-4577-8826-391e3a0cdaac/resourceGroups/peeyush/providers/Microsoft.Web/connections/servicebus",
      "type": "String"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "southindia",
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[parameters('integrationAccounts_Peeyush_externalid')]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "actions": {
            "Compose": {
              "runAfter": {
                "Flat_File_Decoding": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@body('Flat_File_Decoding')"
            },
            "Flat_File_Decoding": {
              "runAfter": {},
              "type": "FlatFileDecoding",
              "inputs": {
                "content": "@{triggerBody()}",
                "integrationAccount": {
                  "schema": {
                    "name": "ppppay"
                  }
                }
              }
            },
            "For_each": {
              "foreach": "@xpath(xml(body('Flat_File_Decoding')),'//*[local-name()=\"Employee\"]')",
              "actions": {
                "Execute_JavaScript_Code": {
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "JavaScriptCode",
                  "inputs": {
                    "code": "var year=parseInt(workflowContext.actions.Parse_JSON.outputs.body.PeriodEndYear);\r\nvar month=parseInt(workflowContext.actions.Parse_JSON.outputs.body.PeriodEndMonth);\r\nvar day=parseInt(workflowContext.actions.Parse_JSON.outputs.body.PeriodEndWeek);\r\nvar out=week (year,month,day);\r\nfunction week(year,month,day){\r\n     function serial(days) { return 86400000*days; }\r\n     function dateserial(year,month,day) {return (new Date(year,month-1,day).valueOf()); }\r\n     function weekday(date) { return (new Date(date)).getDay()+1; }\r\n     function yearserial(date){return (new Date(date)).getFullYear(); }\r\n     var date = year instanceof Date ? year.valueOf() : typeof year === \"string\"? new Date(year).valueOf() : dateserial(year,month,day),\r\n     date2 = dateserial(yearserial(date - serial(weekday(date-serial(1))) + serial(4)),1,3);\r\n     return ~~((date - date2 + serial(weekday(date2) + 5))/ serial(7));\r\n        }\r\n        return out;"
                  }
                },
                "Parse_JSON": {
                  "runAfter": {
                    "Transform_XML_to_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Transform_XML_to_JSON')",
                    "schema": {
                      "properties": {
                        "ActualHours": {
                          "type": "string"
                        },
                        "ContractName": {
                          "type": "string"
                        },
                        "CostCentre": {
                          "type": "string"
                        },
                        "Country": {
                          "type": "string"
                        },
                        "DaysWorked": {
                          "type": "string"
                        },
                        "EmployeeID": {
                          "type": "string"
                        },
                        "HomeSiteId": {
                          "type": "string"
                        },
                        "PayCode": {
                          "type": "string"
                        },
                        "PayCodeDescr": {
                          "type": "string"
                        },
                        "PayrollReference": {
                          "type": "string"
                        },
                        "PeriodDays": {
                          "type": "string"
                        },
                        "PeriodEnd": {
                          "type": "string"
                        },
                        "PeriodEndMonth": {
                          "type": "string"
                        },
                        "PeriodEndWeek": {
                          "type": "string"
                        },
                        "PeriodEndYear": {
                          "type": "string"
                        },
                        "PeriodStart": {
                          "type": "string"
                        },
                        "PeriodStartMonth": {
                          "type": "string"
                        },
                        "PeriodStartWeek": {
                          "type": "string"
                        },
                        "PeriodStartYear": {
                          "type": "string"
                        },
                        "SalaryCode": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "Send_message": {
                  "runAfter": {
                    "Execute_JavaScript_Code": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "ContentData": "@{base64(body('Parse_JSON'))}",
                      "Properties": {
                        "Country": " @{body('Parse_JSON')?['Country']}"
                      },
                      "SessionId": "@body('Parse_JSON')?['EmployeeID']"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent(encodeURIComponent('abc'))}/messages"
                  }
                },
                "Transform_XML_to_JSON": {
                  "runAfter": {},
                  "type": "Liquid",
                  "kind": "XmlToJson",
                  "inputs": {
                    "content": "@{items('For_each')}",
                    "integrationAccount": {
                      "map": {
                        "name": "ppppay"
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "connectionId": "[parameters('connections_servicebus_externalid')]",
                "connectionName": "servicebus",
                "id": "/subscriptions/43e592b2-05f6-4577-8826-391e3a0cdaac/providers/Microsoft.Web/locations/southindia/managedApis/servicebus"
              }
            }
          }
        }
      }
    }
  ]
}